.form-section {
    padding: 30px;
    background: #f8f8f8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.section-label {
    margin-bottom: 5px;
    color: #017da5;
    font-family: "Orbitron";
}
.field {
    padding-bottom: 20px;
}
.field label {
    text-align: left;
    float: left;
    width: 150px;
    font-weight: bold;
    padding-right: 20px;
}
ol li {
    margin-bottom: 15px;
}
.field input,
.field textarea {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0;
    box-shadow: 0 0 8px #88d5e9;
}
.field input:focus,
.field textarea:focus {
    box-shadow: none;
}
.choose-exercise {
    display: block;
    margin-left: 20px;
}
