/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .fixed-header {
   position: fixed;
   background-color: #DFFAAF;
   width: 100vw;
   top: 0px;
   left: 0px;
 }

 .push-header {
   visibility: hidden;
   width: 100vw;
 }

 #title {
  color: #FF3789;
  text-align: center;
  letter-spacing: 1em;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
}

.lower-header {
  color: #FF3789;
  background-color:	#432FA0;
  text-align:right;
  padding: 0.5em 2em 0.5em 0.5em;
}

.lower-header a {
  color:#FC58A1;
}
