/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fixed-header {
  position: fixed;
  background-color: #DFFAAF;
  width: 100vw;
  top: 0px;
  left: 0px;
}
.push-header {
  visibility: hidden;
  width: 100vw;
}
#title {
  color: #FF6194;
  text-align: center;
  letter-spacing: 1em;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
}
.lower-header {
  background-color: #432FA0;
  text-align: right;
  padding: 0.5em 2em 0.5em 0.5em;
  color: white;
}
.lower-header a {
  color: #FF6194;
}
.workout-body {
  text-align: left;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 20px;
}
