.rest-countdown {
    font-size: 40px;
    text-align: left;
    background-image: url("kitten.jpg");
    height: 400px;
    font-family: "Sigmar One";
    color: #FF6194;
    margin-bottom: 20px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.countdown {
    font-size: 100px;
    padding-left: 40px;
}
.workout-animation {
    display: none;
    color: #017DA5;
    font-family: "Orbitron";
}
.exercise-view {
    padding-bottom: 20px;
}
.exercise-jumbo-image {
    width: 400px;
    height: auto;
}
