.workout-partial-box{
  height: 120px;
  display: flex;
}
.textbox {
  flex:3;
}

.workout-links{
  flex:1;
  visibility: hidden;
}

.workout-links a{
  line-height: 100px;
  font-size: 25px;
  padding-right: 5px;
}

.small-image {
  width: 120px;
  height:auto;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li a {
  text-decoration: none;
}
li {
  padding: 10px;
  list-style: none;
}

.workout-partial-box:hover {
  background: #eee;
  cursor: pointer;
  .workout-links{
    visibility: visible;
  }
}

.red {
  color: red;
  visibility: visible;
}

.grey {
  color:grey;
}
