.button {
    font-family: "Orbitron";
    text-decoration: none;
    background-color: #DFFAAF;
    color: #FF6194;
    padding: 6px 8px;
    border-radius: 5px;
    border: 2px solid #B4DB6E;
    text-align: center;
}
.hidden {
    display: none;
}
.inline {
    display: inline;
}
.workout-description {
    color: #432FA0;
    padding-bottom: 20px;
}
.workout-title {
    font-family: "Sigmar One";
    color: #FF6194;
}
